<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="%userprofile%\.nuget\packages-server" />
  </config>
  <packageSources>
    <clear />
    <add key="ServerArtifactoryNuGet" value="S:\SourceCode\Github\server\server-sdk-packages-migration\Build-Nupkgs\12.3.0.0" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="ServerArtifactoryNuGet">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>